{% extends 'base.html' %}

{% block content %}
    <div class="mx-auto my-1 my-sm-2 my-lg-1 p-1">
<form method="get" action="{% url 'index' %}">
    {{ sort }}
    <input type="submit" value="Sort">
</form>
</div>
<div>
    {% for obj in page_obj %}
    <div class="list">
        <a href="{% url 'about' obj.pk %}"> {{ obj.film }} </a> <br>
        <p>Зал: {{ obj.hall }}</p>
        <p>Цена: {{ obj.price }}</p>
        <p>Время начала: {{ obj.time_start }}</p>
        {% if user.is_superuser %}
            {% if obj.quantity == obj.hall.size %}
                <a href="{% url 'update_session' obj.pk%}">Изменить сеанс</a>
            {% endif %}
        {% endif %}
    </div>
        {% endfor %}
        <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
        </div>
</div>
{% endblock %}
